@CHARSET "UTF-8";
body{
    	width: 100%;   margin: 0 auto;
    }

    #head{
    	width: 100%;  height: 80px;
    }
    
    #ErrorPage{width: 100%;height: 600px;background-image: url(../images/errorPage.png);text-align: center;}
    
    #ErrorImage img{padding-top: 100px;}
    
    #loginagain{padding-top: 20px;}
    
    #loginagain input{width: 100px;height: 30px;background-color: #00a0e9;font-family: Microsoft YaHei;font-size: 18px;color: white;}
    
    #loginagain input:hover{background-color: #b61d1d;cursor: hand;}